<!DOCTYPE html>
<html lang="en">
<head>
       <%- include("./partials/head") %>
       <title>Homepage</title>
</head>
<body>
         <button class="btn btn-primary">good</button>


      <%- include("./partials/script") %>
</body>
</html>